
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    background-color: #171616;
    
    padding: 10px;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  h1, h2 {
    text-align: center;
    color: #eadcdb;
  }
  section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #0bd33a;
    background-color:#120e10;
  }
  img {
    width: 400px;
    height:min-content;
    margin: 10px;
    float: center;
  }
  p {
    color: #e912e1;
  }
 .colored-background {
  background-color: #AE7DAC;
 } 
 ol {
  color: #ed9e59;
 }
